In [2]:
import pandas as pd
import numpy as np

## Demografia

In [62]:
# Verificar Outliers usando Z scores
def abs_z_score(column:pd.Series):
    return ((column-column.mean())/column.std()).abs()
# Verificar Outliers usando o inter-quartile
def is_interquartile(column:pd.Series, percentiles=(25,75))->pd.Series:
    values = column.sort_values().dropna()
    q1,q3 = np.percentile(values, percentiles)
    return (column>q1)&(column<q3)

In [82]:
demography = pd.read_csv("dados/raw/DemographicData_ZCTAs.csv")
demography.drop(columns=["Unnamed: 0"], inplace=True)
demography.dropna(inplace=True)
filter_0 = (
    (demography["Population_Under5Years"]==0)&
    (demography["Population_10to14Years"]==0)&
    (demography["Population_15to19Years"]==0)&
    (demography["Population_20to24Years"]==0)&
    (demography["Population_25to34Years"]==0)&
    (demography["Population_35to44Years"]==0)&
    (demography["Population_55to59Years"]==0)&
    (demography["Population_45to54Years"]==0)
    )
# filter_0 = (demography["Population_5to9Years"]==0)&(demography["Population_10to14Years"]==0)
# demography[demography.columns[demography.columns.str.contains("Population")]]==0
# demography = demography[~filter_0]
demography = demography[~ ((demography == 0).astype(int).sum(axis=1)>6)]
demography = demography[abs_z_score(demography["MedianAgeInYears"])<3]
demography[is_interquartile(demography["SexRatio(males per 100 females)"],percentiles=(0.8,99.2))].sort_values("SexRatio(males per 100 females)")

,Id,GeographicAreaName,TotalPopulation,SexRatio(males per 100 females),Population_Under5Years,Population_5to9Years,Population_10to14Years,Population_15to19Years,Population_20to24Years,Population_25to34Years,Population_35to44Years,Population_45to54Years,Population_55to59Years,Population_60to64Years,Population_65to74Years,Population_75to84Years,Population_85YearsAndOver,MedianAgeInYears
3236,8600000US95444,ZCTA5 95444,705,59.1,44,35,0,19,27,191,34,185,38,44,88,0,0,45.1
23240,8600000US73727,ZCTA5 73727,175,59.1,0,3,30,22,0,0,52,20,8,0,11,29,0,42.9
7701,8600000US62380,ZCTA5 62380,552,59.1,70,61,38,13,88,79,82,21,35,24,32,0,9,28.7
15486,8600000US63039,ZCTA5 63039,624,59.2,46,15,44,14,18,188,15,72,43,39,116,14,0,32.5
7183,8600000US61323,ZCTA5 61323,78,59.2,2,2,6,13,3,4,1,7,18,11,8,2,1,55.1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4663,8600000US32212,ZCTA5 32212,2466,207.5,205,138,117,223,1231,330,186,32,0,4,0,0,0,21.6
31378,8600000US24861,ZCTA5 24861,114,208.1,16,0,28,0,0,5,27,8,5,15,0,10,0,35.5
28601,8600000US78119,ZCTA5 78119,7160,208.2,369,340,334,471,558,1565,1136,736,491,349,390,331,90,34.5
3614,8600000US96121,ZCTA5 96121,358,208.6,39,10,0,0,35,36,49,0,8,116,65,0,0,60.2
24617,8600000US16140,ZCTA5 16140,170,209.1,22,0,19,0,13,10,21,46,0,0,39,0,0,47.5

In [83]:
demography.sort_values("MedianAgeInYears")

,Id,GeographicAreaName,TotalPopulation,SexRatio(males per 100 females),Population_Under5Years,Population_5to9Years,Population_10to14Years,Population_15to19Years,Population_20to24Years,Population_25to34Years,Population_35to44Years,Population_45to54Years,Population_55to59Years,Population_60to64Years,Population_65to74Years,Population_75to84Years,Population_85YearsAndOver,MedianAgeInYears
1623,8600000US72427,ZCTA5 72427,365,98.4,63,27,51,61,29,17,58,29,2,6,9,8,5,17.8
31326,8600000US99363,ZCTA5 99363,350,120.1,29,62,72,16,0,55,21,51,0,8,16,20,0,17.8
17313,8600000US68977,ZCTA5 68977,357,75.9,17,58,58,58,17,30,58,24,3,14,11,5,4,17.9
21550,8600000US58335,ZCTA5 58335,1892,114.0,279,244,295,176,114,258,201,159,47,35,50,27,7,18.3
749,8600000US99662,ZCTA5 99662,605,108.6,130,67,58,68,55,88,36,30,23,14,19,15,2,18.3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14114,8600000US49910,ZCTA5 49910,252,142.3,0,0,0,3,5,2,19,7,24,30,95,56,11,67.2
30881,8600000US98280,ZCTA5 98280,438,85.6,3,4,5,17,8,5,23,71,33,28,187,32,22,67.2
18711,8600000US88049,ZCTA5 88049,325,125.7,0,0,0,0,0,0,31,51,11,50,106,31,45,67.2
28836,8600000US78633,ZCTA5 78633,25853,83.9,567,623,1112,954,350,909,1662,1791,1512,2052,7440,5246,1635,67.2
21992,8600000US43446,ZCTA5 43446,73,97.3,0,0,2,5,0,1,0,8,7,4,32,12,2,67.2

In [90]:
demography.to_csv("dados/processed/DemographicData_ZCTAs.csv", index=False)

## Economia

In [86]:
economic = pd.read_csv("Dados/raw/EconomicData_ZCTAs.csv")
economic.drop("Unnamed: 0", axis=1, inplace=True)
economic.drop_duplicates(inplace=True)

In [88]:
economic.to_csv("dados/processed/EconomicData_ZCTAs.csv", index=False)